@page "/email"

<PageTitle>Verify Email</PageTitle>

<body>
    <div class="d-flex justify-content-center flex-column" style="border: 2px solid black; height: 100vh; width:100%;">
        <div class="container d-flex justify-content-center" style="border: 2px solid red; height: 55vh; width: 60%;">
            <img src="email-removed-bg.png" alt="">            
        </div>
    </div>
</body>