@page "/team"
<div class="d-flex" style="height:100vh; width: 100%;">
    <div class="position-absolte d-flex" style="top: 0; bottom: 0; width: 240px;">
        <div class="position-absolute" style="top: 5px; left: 10px;"></div>
            <Logo />
    </div>
    <div class="position-absolute bg-image" style="height: 100vh; width: 65%; border-bottom-left-radius: 60rem;
        right: 0px; background-image: image-set('smiling-black-woman-with-two-thumbs-up-against-white-background_33839-10172-removebg-preview.png');
        object-fit:contain">
        @* <img src="smiling-black-woman-with-two-thumbs-up-against-white-background_33839-10172-removebg-preview.png" alt=""
            style="object-fit: contain; transform: scale (5);"> *@
    </div>
    <div class="position-absolute bg-dark" style="height: 100vh; width: 65%; opacity: 0.4; border-bottom-left-radius: 60rem; right: 0px;">
        
    </div>
    <div class="d-flex" style="width: 26%;">
        @* welcome text *@
        <div class="position-absolute" style="height: 60vh; width: 26%; bottom: 0 !important;">

        <div class="position-absolute" style="top: 5px;">
            <span style="text-align: left; font-size: 14px; ">Welcome, user.</span>
        </div>
        <div class="position-absolute"  style="top: 50px; width: 280px;">
            <span style="font-weight: 900;font-size: 26px; line-height: 7px;">
                Where do you plan on using TaskKing?
            </span>
        </div>

        <div class="position-absolute d-flex justify-content-start" style="top: 125px; width: 26%;">
            <a href="#">
            <button class="button_1 btn bg-warning p-4" style="width: 250px;">
                <i class="fa-solid fa-graduation-cap"></i> <span class="text-light">Team or Company</span>
            </button>
            </a>
        </div>

        <div class="position-absolute d-flex justify-content-start" style="top: 225px; width: 26%;">
            <a href="#">
            <button class="button_1 btn bg-primary p-4" style="width: 250px;">
                <i class="fa-solid fa-graduation-cap"></i> <span class="text-light">Teacher</span>
            </button>
            </a>
        </div>

        <div class="position-absolute d-flex justify-content-start" style="top: 325px; width: 26%;">
            <a href="#">
            <button class="button_1 btn bg-success p-4" style="width: 250px;">
                <i class="fa-solid fa-graduation-cap"></i> <span class="text-light">Student</span>
            </button>
            </a>
        </div>
        </div>
    </div>
</div>