    <button class="btn dropdown-toggle text-reset" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false"
    style="background-color: transparent; border-bottom: 1px solid gray; width: 340px; border-redius: none;">
        <span style="text-align: left; color: white; text-align: left; !important">My tasks</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 340px !important">
        <li><a class="dropdown-item" href="#">My Checklist</a></li>
        <li><a class="dropdown-item" href="#">Sort My Tasks</a></li>
        <li><a class="dropdown-item" href="#">Due Date</a></li>
        <li><a class="dropdown-item" href="#">Name</a></li>
        <li><a class="dropdown-item" href="#">Project</a></li>
    </ul>
