@* body *@
<div class="d-flex justify-content-center flex-column" style="height: 100vh;">
    @* logo *@
    <div class="position-absolute" style="left: 20px; top: 0;">
        <Logo />
    </div>
    @* image *@
    <div class="d-flex justify-content-center position-absolute" style="width: 100% !important; top: 0 !important;">
            <img src="email-removed-bg.png" alt="">
    </div>
    @* almost done text *@
    <div class="d-flex justify-content-center position-absolute" style="top: -13B5px; width: 100% !important;">
        <span class="text-dark" style="font-size: 34px; font-weight: 900; text-align: center;line-height: 120%;">Almost done, user</span>
    </div>
    @* activate account *@
    <div class="d-flex justify-content-center position-absolute" style="top: ; width: 100%; top: 439px !important;">
        <span class="text-muted display-1" style="text-align: center; font-size: 14px;">please activate your account</span>
    </div>
    @* sent email text *@
    <div class="d-flex justify-content-center position-absolute" style="top: 40px; width: 100%; top: 480px !important;">
        <span style="width: 470px; text-align: center; line-height: 23px; font-size: 17px;">
            We've sent you an email to email@outlook.com. Please check your inbox and click the link to activate your account.
        </span>
    </div> 
    @* resend-button *@
    <div class="d-flex justify-content-center position-absolute" style="top: 610px !important; width: 100%;">
        <a href="#">
        <button class="btn" style="background-color: #0af; border-color: #0af">
            <span style="color: white">
                Resend email
            </span>
        </button>
        </a>
    </div> 
</div> 