<footer class="text-center container-fluid d-flex position-absolute justify-content-center" 
    style="width: 100% !important; height :3rem; bottom: 0px;">

    <div class="d-flex justify-content-evenly" style="border: none; background: rgba(255, 255, 255, 0.541); box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); 
    border: 1px solid rgba(255, 255, 255, 0.3); width: 50%; align-items: center; border-top-right-radius: 40px; border-top-left-radius: 40px;">

        <a href="/Dashboard">
            <span data-mdb-toggle="tooltip" title="Add Task" style="cursor: pointer;">
                <i class="fa-solid fa-circle-plus fa-2x"></i>
            </span>
        </a>
        <a href="/Dashboard">
        <span data-mdb-toggle="tooltip" title="Notification" style="cursor: pointer;">
            <i class="fa-solid fa-bell fa-2x"></i><span class="badge rounded-pill badge-notification bg-danger">9</span>
        </span>
        </a>
        <a href="/Dashboard">
        <span data-mdb-toggle="tooltip" title="My Tasks" style="cursor: pointer;">
            <i class="fa-solid fa-circle-check fa-2x"></i>
        </span>
        </a><a href="/Dashboard">
        <span data-mdb-toggle="tooltip" title="My Team" style="cursor: pointer;">
            <i class="fa-solid fa-user-plus fa-2x"></i>
        </span>
        </a><a href="/Dashboard">
        <span data-mdb-toggle="tooltip" title="Search" style="cursor: pointer;">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
        </span>
        </a><a href="/Dashboard">
        <span data-mdb-toggle="tooltip" title="Notification" style="cursor: pointer;">
            <i class="fa-solid fa-bell fa-2x"></i>
        </span>
        </a>
        

    </div>
</footer>